<h3>マイページ</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <table class='table'>
        <tbody>
            <tr>
              <td><%= attachment_image_tag @customer, :image, :fill, 60, 60, fallback: "noimage.jpg", size:'100x100' %></td>
              <td><%= @customer.name %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
    <div class="col">
      
      <div class="container">
        <ul class="tab-list">
          <li class="tab box-active">お気に入り</li>
          <li class="tab">気になっている</li>
          <li class="tab">口コミ</li>
        </ul>
        <div class="tabbox-contents">
          <div class="tabbox box-show">
            <% @favorites.shop.each do |favorite| %>
            <p><%= attachment_image_tag(favorite.shop, :image, size: "150x100") %></p>
            <p><%= favorite.favorite %></p>
            <p><%= link_to "削除", shop_favorite_path(favorite.shop_id, favorite.id), method: :delete %></p>
            <% end %>
          </div>
          <div class="tabbox">
            <p>タブ2</p>
            <p>タブ2</p>
            <p>タブ2</p>
          </div>
          <div class="tabbox">
            <% @comments.each do |comment| %>
            <p><%= attachment_image_tag(comment, :image, size: "150x100") %></p>
            <p><%= comment.comment %></p>
            <p><%= link_to "削除", shop_comment_path(comment.shop_id, comment.id), method: :delete %></p>
            <% end %>
          </div>
        </div>
      </div>
      
     
      
      
    </div>
    </div>
  </div>
</div>