<% if admin_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h3><strong>店舗一覧</strong></h3>
  <div style="text-align: right"><%= link_to "店舗新規登録", new_admin_shop_path, class: "btn btn-outline-primary" %></div>
  <p>(全<%= @shops.count %>件)</p>
		<div class="d-flex flex-wrap">
			<% @shops.each do |shop| %>
			  <div class="m-3">
          <%= attachment_image_tag shop, :image, format: 'jpeg', size: "300x220" %>
            <div>
              <h5><span>店名<a>  </a><%= shop.name %></span>
              <%#= button_to "編集", {controller: 'shops', action: 'update'},{method: :get} %>
              <%= link_to "編集", edit_admin_shop_path(shop), class: "btn btn-outline-primary" %>
              <%= link_to " 削除", admin_shop_path(shop), method: :delete, remote: true, data: {confirm: "#{shop.name}を削除しますか？"}, class: "btn btn-danger" %>
              </h5>
              <p></p>
              <p>営業日<a>  </a><%= shop.business_day %></p>
              <p>販売形式<a>  </a>
                <%= shop.eat_in == "1" ? "イートイン  " : "" %><%= shop.take_out == "1" ? "テイクアウト" : "" %>
              </p>
              <p>予算<a>  </a><%= shop.budget %></p>
              <p>エリア<a>  </a><%= shop.area.name %></p>
              <p>店舗ジャンル<a>  </a><%= shop.atmosphere.atmosphere %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
 </div>
</div>
<% else %>
  管理者専用ページです
<% end %>