<h3>店舗一覧</h3>
<div class="text-right"><%= button_to "店舗新規登録", {controller: 'shops', action: 'new'},{method: :get} %></div>

<h3 class="text-center">
					<p><span>店舗一覧</span>(全<%= @shops.count %>件)</p>
				</h3>
			</div>
		</div>
		<div class="row products">
			<% @shops.each do |shop| %>
			  <div class="row">
		      <div class="col-lg-10">
<% p shop %>
                <%= link_to admin_shop_path(shop.id), class: "btn-link" do %>
                  <%= attachment_image_tag shop, :image, format: 'jpeg', size: "210x150" %>
                  <%# カラムはimage_idだがrefileの仕様でidは書かない %>
                <% end %>

            <div class="row">
              <div class="col-lg-10">
                <p><%= shop.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 ">

                <% end %>
              </div>
            </div>
          </div>
        </div>

