<dev class="container">
  <div class="row">
    <div class="col-md-4">
      ジャンル検索
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>店舗一覧</h4>
        <div>
          <% @shops.each do |shop| %>
			  <div class="">
			    <div class="col-md-5">
			      <div class="col-md-5 img-thumbnail shop-image">
          <%= link_to shop_path(shop), class: "btn-link" do %>
            <%= attachment_image_tag shop, :image, format: 'jpeg', size: "320x220" %>
            <%# カラムはimage_idだがrefileの仕様でidは書かない %>
            </div>
            </div>
          <% end %>
            <div class="col-md-7">
            <div class="col-md-7 shop-item">
              <h5><span>店名<a>  </a><%= shop.name %></span></h5>
              <p>営業日<a>  </a><%= shop.business_day %></p>
              <p>予算<a>  </a><%= shop.budget %></p>
              <p>エリア<a>  </a><%= shop.area.name %></p>
              <p>店舗ジャンル<a>  </a><%= shop.atmosphere.atmosphere %></p>
            </div>
            </div>
        </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</dev>