<dev class="container">
  <div class="row">
    <div class="col-md-4">

      <table class="table table-bordered genre-table" width="60">
        <thead>
          <tr>
            <th>エリアから探す</th>
          </tr>
        </thead>
        <tbody>
        <% @shops.each do |shop| %>
        <% area = shop.area %>
        <%# @areas.each do |area| %>
          <tr>
            <td>
              <%= link_to area.name, shops_path('search[value]': area.id, 'search[how]': "match") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
      <table class="table table-bordered genre-table">
        <thead>
          <tr>
            <th>雰囲気から探す</th>
          </tr>
        </thead>
        <tbody>
        <% @shops.each do |shop| %>
        <% atmosphere = shop.atmosphere %>
          <tr>
            <td>
              <%= link_to atmosphere.atmosphere, shops_path('search[value]': atmosphere.id, 'search[how]': "match") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-md-8">
      <div class="table">
        <thead>
          <tr>
            <th><h4>店舗一覧</h4></th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <% @shops.each do |shop| %>
              <div class="">
                <td>
                  <div class="shop-image">
                    <%= link_to shop_path(shop), class: "btn-link" do %>
                      <div class="img-thumbnail">
                        <%= attachment_image_tag shop, :image, format: 'jpeg', size: "320x220" %>
                      </div>
                      <%# カラムはimage_idだがrefileの仕様でidは書かない %>
                    <% end %>
                  </div>
    			      </td>
    			      <td>
                  <div class="shop-item">
                    <div id="favorite_shop_<%= shop.id %>">
                      <%= render 'favorite', shop: shop %>
                    </div>
                  </div>
                </td>
                <td>
                  <div id="candidate_shop_<%= shop.id %>">
                    <%= render 'candidate', shop: shop %>
                  </div>
                </td><br>
                <td><h5><span>店名  <%= shop.name %></span></h5></td><br>
                <td>営業日  <%= shop.business_day %></td><br>
                <td>
                  販売形式<a>  </a>
                    <%= shop.eat_in == "1" ? "イートイン  " : "" %><%= shop.take_out == "1" ? "テイクアウト" : "" %>
                </td><br>
                <td>予算  <%= shop.budget %></td><br>
                <td>エリア  <%= shop.area.name %></td><br>
                <td>店舗ジャンル  <%= shop.atmosphere.atmosphere %></td><br>
              </div>
            <% end %>
            </div>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</dev>