<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="shop-image">
        <%= link_to shop_path(@shop), class: "btn-link" do %>
          <%= attachment_image_tag @shop, :image, format: 'jpeg', size: "320x220", class: 'shop-img' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3 class="shop-name"><strong><%= @shop.name %></strong>
            <div class="average-review-rating" data-score=<%= (@shop.comments.average(:rate)) %>></div>
        </h3>
        <div class="shop-item">
          <% if @shop.favorited_by?(current_customer) %>
            <p class="fav-inline" style="color: #5A3E26">
              <% favorite = @shop.favorites.find_by(customer_id: current_customer.id) %>
              <%= link_to shop_favorite_path(@shop.id, favorite.id), method: :delete do %>
                <i class="fas fa-heart" style="color: #cc6666;"></i><font color="#cc6666"><%= @shop.favorites.count %></font>
              <% end %>
            </p>
          <% else %>
            <p class="fav-inline">
              <%= link_to shop_favorites_path(@shop), method: :post do %>
                <i class="far fa-heart" style="color: #cc6666;"></i><font color="#cc6666"><%= @shop.favorites.count %></font>
              <% end %>
            </p>
          <% end %>
          <% if @shop.candidated_by?(current_customer) %>
            <p class="fav-inline">
              <% candidate = @shop.candidates.find_by(customer_id: current_customer.id) %>
              <%= link_to shop_candidate_path(@shop.id, candidate.id), method: :delete do %>
                <i class="fas fa-bookmark" style="color: #5A3E26;"></i><font color="#5A3E26"><%= @shop.candidates.count %></font>
              <% end %>
            </p>
          <% else %>
            <p class="fav-inline">
              <%= link_to shop_candidates_path(@shop), method: :post do %>
                <i class="far fa-bookmark" style="color: #5A3E26;"></i><font color="#5A3E26"><%= @shop.candidates.count %></font>
              <% end %>
            </p>
          <% end %>
          <div>
            <a>営業日  <%= @shop.business_day %> / </a>
            <a>販売形式<a>  </a>
              <%= @shop.eat_in == "1" ? "イートイン  " : "" %><%= @shop.take_out == "1" ? "テイクアウト" : "" %>
            </a>
            <a>予算  <%= @shop.budget %> / </a>
            <a>エリア  <%= @shop.area.name %> / </a>
            <a>店舗ジャンル  <%= @shop.atmosphere.atmosphere %></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
   <div class="shop-contents mt-5">
    <ul class="tab-list">
      <li class="tab box-active">写真</li>
      <li class="tab box-active">口コミ</li>
    </ul>

    <div class="tabbox-contents">
      <div class="tabbox box-show">
      <div class="d-flex flex-wrap">

        <% @shop.comments.each do |comment| %>

          <div class="col-md-3 p-1">

            <p><%= attachment_image_tag(comment, :image, :fill, 300,300, format: 'jpeg', class: "comment-img") %></p>


      　</div>
        <% end %>
      </div>
      </div>

      <div class="tabbox">
        <div class="m-5">
        <%= form_with model:[@shop, @comment], local: true do |f| %>
        <p>
          <div>画像選択</div>
          <div><%= f.file_field :image %></div>
          <div>コメント</div>
          <div><%= f.text_area :comment %></div>
          <div id="rating-form">
          <div>評価：
          <%#= f.hidden_field :rate, :value => 'score' %>
            <script>
              $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'comment[rate]'
              });
            </script>
          </div>
          </div>
          <%= f.submit "送信" %>
        </p>
        <% end %>





        <% @shop.comments.each do |comment| %>
          <div class="comment-item">
          <p>
            <span>評価：</span>
            <span id="star-rate-<%= comment.id %>"></span>
            <script>
              $('#star-rate-<%= comment.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= comment.rate %>,
              });
            </script>
            <%= comment.rate %>
          </p>
          <p><%#= attachment_image_tag(comment, :image, size: "350x230") %></p>
          <p><%= comment.customer.name %></p>
          <p>
            <%= comment.comment %>
            <% if comment.customer == current_customer %>
              <%= link_to shop_comment_path(@shop.id, comment.id), method: :delete, data: {confirm: '口コミを削除します'} do %>
              <i class="fas fa-trash-alt fa-lg" style="color: #5A3E26;"></i>
              <% end %>
            <% end %>
          </p>
          <p><%# if comment.customer == current_user %><%#= link_to "削除", shop_comment_path(comment.shop_id, comment.id), method: :delete %><%# end %></p>
          </div>
        <% end %>
      </div>
    </div>



    </div>


  <div class="mt-4">
    <%= link_to "店舗一覧へ戻る", shops_path, class: "btn btn-outline-secondary" %>
  </div>
  </div>
  </div>
</div>

<script>
  <%# eachの中にscriptタグを入れる場合はIDの指定をしないと複数のscriptタグが生成されてしまう %>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>