<% if admin_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mt-5">
        <h3>FAQ新規作成</h3>
          <table class="table">
            <tr>
              <td>氏名</td>
              <td><%= @contact.name %></td>
            </tr>
            <tr>
              <td>お問い合わせ内容</td>
              <td><%= @contact.message %></td>
            </tr>
          <%= form_with model: @faq, url: admin_contact_faqs_path(@contact), local: true do |f| %>
            <tr>
              <td>【F】</td>
              <td><%= f.text_field :frequently %></td>
            </tr>
            <tr>
              <td>【Q】</td>
              <td><%= f.text_field :question %></td>
            </tr>
          </table>
          <div class="text-center">
            <br><%= f.submit "新規登録", class: "btn btn-outline-primary" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  管理者専用ページです
<% end %>