<h3><span>会員情報詳細</span></h3>

  <table class="table">
    <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>

    <tr>
      <th>ユーザーネーム</th>
      <td><%= @customer.name %></td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>

    <tr>
      <th>会員ステータス</th>
      <td><%= @customer.is_deleted ? '退会' : '有効' %></td>
    </tr>

    <tr>
      <th>口コミ</th>
      <td><%= link_to "投稿一覧", admin_customer_path(@customer) %></td>
    </tr>

  </table>
  <%= link_to "一覧に戻る", admin_customers_path %></td>

