<% if admin_signed_in? %>
  <div class=”container”>
    <div class="row">
      <div class="col-md-10 mx-auto mt-5">
        <h3>ジャンル一覧</h3>
        <div class="row mt-3">
          <div class="col-md-5 mr-5">
            <tbody>
              <%= form_with model: @area, url: admin_genres_path, local: true do |f| %>
              <%= f.text_field :name, placeholder: "エリア名" %>
              <%= f.submit '新規登録', class: 'btn btn-success'%>
              <% end %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>エリア</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @areas.each do |area| %>
                    <tr>
                      <td><u><%= link_to area.name, admin_genres_path, class: "text-dark" %></u></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </tbody>
          </div>
          <div class="col-md-5">
            <%= form_with model: @atmosphere, url: admin_genres_path, local: true do |f| %>
              <tbody>
                <th><%= f.text_field :atmosphere, placeholder: "雰囲気ジャンル名" %></th>
                <th><%= f.submit '新規登録', class: 'btn btn-success '%></th>
              </tbody>
            <% end %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>雰囲気</th>
                </tr>
              </thead>
              <tbody>
                <% @atmospheres.each do |atmosphere| %>
                <tr>
                  <td><u><%= link_to atmosphere.atmosphere, admin_genres_path, class: "text-dark" %></u></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  管理者専用ページです
<% end %>