<div><h3>商品新規登録</h3></div>

<%= form_with model: @product, url: admin_shop_products_path, local: true do |f| %>
  <table class="table">
    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>商品画像</td>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
      <td>商品ジャンル</td>
      <th><%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: "選択してください"} %></th>
    </tr>      <%# Genre.allの中から選択したgenre_id(ジャンル)に:idでIDを与える %>
  </table>

    <div class="text-center">
      <br><%= f.submit "新規登録", class: "btn btn-sm btn-block btn-info" %>
    </div>

  <% end %>
  </div>
</div>