<div class="container">
  <div class="mt-5">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <%= render 'public/shops/genre', shop: @shop %>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="ml-5">
        <h4 class="index-title"><i class="fas fa-store" style="color: #5A3E26;"></i><strong>  店舗一覧</strong></h4>
        <% @shops.each do |shop| %>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <%= link_to shop_path(shop), class: "btn-link" do %>
                  <div class="shop-image">
                    <%= attachment_image_tag shop, :image, format: 'jpeg', class: "shop-img rounded img-fluid" %>
                  </div>
                <% end %>
              </div>
              <div class="col-md-6">
                <div class="shop-detail">
                  <h5 class="shop-name"><strong>店名  <%= shop.name %></strong></h5>
                  <% if customer_signed_in? %>
                    <div id="favorite_shop_<%= shop.id %>" class="favorite-candidate">
                      <%= render 'public/shops/favorite', shop: shop %>
                    </div>
                    <div id="candidate_shop_<%= shop.id %>" class="favorite-candidate">
                      <%= render 'public/shops/candidate', shop: shop %>
                    </div>
                  <% else %>
                  <% end %>
                  <div class="average-review-rating" data-score=<%#= (shop.comments.average(:rate)) %>></div>
                  営業日 <i class="fas fa-angle-right" style="color: #4d4d4d;"></i> <%= shop.business_day %><br>
                  販売形式
                  <i class="fas fa-angle-right" style="color: #4d4d4d;"></i> <%= shop.eat_in ? "イートイン  " : "" %><%= shop.take_out ? "テイクアウト" : "" %><br>
                  予算 <i class="fas fa-angle-right" style="color: #4d4d4d;"></i> <%= shop.budget %><br>
                  エリア <i class="fas fa-angle-right" style="color: #4d4d4d;"></i> <%= shop.area.name %><br>
                  店舗ジャンル <i class="fas fa-angle-right" style="color: #4d4d4d;"></i> <%= shop.atmosphere.atmosphere %><br>
                </div>
              </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="pagination"><%= paginate(@shops) %></div>
    </div>
  </div>
</div>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>