<!DOCTYPE html>
<html>
  <head>
    <title>AtDolce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

 <header>
  <body>
    <%# if customer_signed_in? %>
    <div>
      <ul>
        <li><%#= link_to "マイページ", customer_path(current_customer), class: ''%></li>
        <li><%= link_to "店舗一覧", shops_path, class: ''%></li>
        <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: '' %></li>
      </ul>
    </div>

    <%# elsif admin_signed_in? %>

    <div>
      <ul>
        <li>
          <%= link_to "トップ", admin_homes_top_path, class: ''%>
        </li>
        <li>
          <%= link_to "会員一覧", admin_customers_path, class: ''%>
        </li>
        <li>
          <%= link_to "店舗管理", admin_shops_path, class: '' %>
        </li>
        <li>
          <%= link_to "ジャンル管理", admin_genres_path, class: '' %>
        </li>
        <li>
          <%= link_to "ログアウト", admins_sign_out_path, method: :delete, class: ''%>
        </li>
      </ul>
     </div>

     <%# else %>
     <ul>
        <li>
          <%= link_to " 新規登録", new_customer_registration_path, class: ''%>
        </li>
        <li>
          <%= link_to " ログイン", new_customer_session_path, class: '' %>
        </li>
      </ul>

     <%# end %>
     </header>
     <% if flash[:notice] %>
        <div class="alert alert-primary text-center" role="alert"><strong><%= notice %></strong></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger text-center" role="alert"><strong><%= alert %></strong></div>
      <% end %>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
